body {
  background-color: #fff;
  font-family: georgia;
  font-size: 1em;
}

.main {
  padding: 0 1em;
}

h1, h2, h3, h4, h5, h6 {
  margin: 1em 0;
  font-family: helvetica;
  font-weight: 700;
}
h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.5em;
}
p {
  margin: 1em 0;
}

.nav {
  text-align: right;
  background-color: #999;
  padding: 1em;
}

.main-menu {
  text-align: center;
}

.list-points {
  list-style: disc;
  padding-left: 2em;
}

.line-under {
  border-bottom: 5px solid black;
  padding-bottom: 1em;
}

.hamburger {
  width: 3em;
  height: 3em;
  padding: 0.125em;
  border: 1px solid black;
  border-radius: 5px;
}

.menu-item {
  /* margin: 1em 0; */
  line-height: 3;
}







/*  */
